* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

body {
    width: 1342px;
    margin: 0 auto;
  font: 12px Arial, sans-serif;
  font-stretch: ultra-expanded;
  line-height: 1.5;
    background-color: #F6F6F8;
}

header {
  background: url(img/header.jpg) no-repeat center top / cover;
    padding-bottom: 300px;
}

.container {
  width: 800px;
  margin: 0 auto;
    padding: 1px 0;
}


.logo {
  float: left;
  margin-top: 40px;
}

nav {  
  float: right;
  margin-top: 35px;  
    
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}
.menu__item {
  float: left;
  display: block;

}

.menu a { 
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: #A5A6AA;
  text-transform: uppercase;
    padding: 12px;
}

.menu__item .active {
  color: black;
}

.menu__item a:hover {
  background-color: black;
  color:white;  
}

.title {
    margin-top: 180px; 
}

.title h1{
  text-transform: uppercase;
  font-size: 52px;
}

.variant{
    margin-top: 90px;
    padding-bottom: 105px;
}
.variant__item {
    width: 225px;
    text-align: center;
    float: left;
}

.variant__item h3 {
    text-transform: uppercase;
    margin-top: 5px;
}

.variant__item p {
    color: #A5A6AA;
    margin-top: 15px;
}

.variant__item a {
    color: black;
    display: block;
    text-decoration: none;
    margin-top: 15px;
}
.variant__item a:hover {
    color: white;
    background-color: black;
}
.variant__item:last-child {    
    float: right;
}

.variant__item:nth-child(2) {   
    margin-left: 60px;
}

.phone {
  background: url(img/section_2.jpg) no-repeat center / cover;
    padding-bottom: 90px;
}
.phone__form {
    margin-top: 100px;
  width: 320px;
  background-color: white;
  float: right;
}
.phone__item {
  
}
.phone__image {
  float: left;
    margin: 15px 0 0 15px;
}

.phone__section{
    padding: 15px 25px 15px 15px;
    width: 195px;
  float: right;
}
.phone__section h3 {
  margin-top: 15px;
  
}

.phone__section p {
  margin-top: 15px;
    color: #A5A6AA;
  
}


.phone__item:last-child a {
    display: block;
    color:white;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 0;
}

.phone__item:last-child a:hover{
    color:black;
    background-color: aqua;
}
.idea {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 90px;
    
}

.idea h2 {
    font-size: 52px;
}

.idea p {
    margin-top: 50px;
    font-size: 16px;
}

.stat .variant__item {
    text-align: left;
}

.price {
    padding-bottom: 100px;
}
.price__item {
    width: 250px;
    float: left;
    text-align: center;
}

.price__item h4{
    padding:  35px 0;
   text-transform: uppercase; 
}

.price__item .money{
    font-size: 52px;
    font-weight: 700;
}

.price__item p{
    color: #A5A6AA;
    margin: 10px 30px 0 30px;
    
    
}

.price__item a {
    color: black;
    text-transform: uppercase;
    display: block;
    padding: 15px;
    margin: 40px 50px 40px 50px;
    border-radius: 40px;
    text-decoration: none;   
}
.price__item:last-child {
    float: right;
}

.price__item:nth-child(2) {
    margin-left: 20px;
}
.price__item:hover{
    background-color:black;
}
.price__item:hover h4,
.price__item:hover p,
.price__item:hover .money {
    color:white;
}
.price__item:hover a{
    background-color: aqua;
}

footer {
    background: url(img/footer.jpg) no-repeat center top / cover;

}

.footer_menu {
   margin-top: 485px;
    margin-bottom: 200px;
    
}
.footer_menu__main {
    display: block;    
}

.footer_menu__main  li {
    list-style: none;
    display: block;
    margin-top: 18px;
}

.footer_menu__main > li {
    float: left;
    margin: 35px;
}

.footer_menu__main a {
    color: white;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}

.footer_menu__main a:hover {
    background-color: white;
    color:black;
}